{% extends 'home.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <div class="container" style="text-align: -webkit-left;
        margin-inside: 50px;
        margin-top: 30px; margin-left:  250px; margin-bottom: 100px; width: 700px">
        <legend class="border-bottom mb-5">
            <div class="row">
                <p class="text" style="font-size: 35px; margin: 0 auto; font-family: Serif,serif">
                    Заявления на заселение
                </p>
            </div>
        </legend>


        <div class="row">
            {% for contact in object_list %}
                  <div class="col-8" style="margin: 0 auto">
                    <div class="card">
                      <div class="card-body">
                        <p class="card-text"><b>ФИО:</b> {{ contact.name }} {{ contact.middle_name }} {{ contact.surname }}</p>
                        <p class="card-text"><b>Email:</b> {{ contact.email }}</p>
                        <p class="card-text"><b>Факультет:</b> {{ contact.faculty }}</p>
                        <p class="card-text"><b>Курс:</b> {{ contact.course }}</p>
                      </div>
                    </div>
                  </div>
            {% endfor %}
        </div>


    </div>


{% endblock %}