{% extends 'home.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <div class="container" style="text-align: -webkit-left;
        margin-inside: 50px;
        margin-top: 30px; margin-left:  250px; margin-bottom: 100px; width: 700px">
        <form id="update_form" method="post" enctype="multipart/form-data">
        <legend class="border-bottom mb-3">
            <p class="text" style="font-size: 25px">
                Обновите отработку
            </p>
        </legend>

            {% csrf_token %}
        {{ form.name | as_crispy_field }}

            {{ form.clock | as_crispy_field }}
            {{ form.date_from | as_crispy_field }}
            {{ form.date_to | as_crispy_field }}
        <button type="submit" form="update_form" class="btn btn-primary col-lg-2 col-lg-offset-5" style="margin-top: 15px">Отправить</button>
        </form>
    </div>
{% endblock %}